# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Arduino/PlatformIO
.pio/
.pioenvs/

# KiCad
*-backups/
_autosave-*
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
fp-info-cache
*.lck

# Data / secrets
*.env
.env
